footer.footer
  .l-footer
    .p-footer
      .p-footer__logo
        a(href="https://www.odakyu-card.jp/" target="_blank")
          img(src="./assets/images/common/logo_opcard_l.png" alt="小田急ポイントカード")
      .p-footer__copyright
        | Copyright © Odakyu Electric Railway Co., Ltd. All Rights Reserved. 
        a(href="https://www.odakyu.jp/" target="_blank")
          img(src="./assets/images/common/logo_odakyu_s.png" alt="odakyu")