header.header
  nav.p-links.is-outside#p_links
    a(href="#shop") SHOP
    a(href="#minnano") MINNANO #IIBE
    a(href="#iibemitsuketa") IIBEMITSUKETA!
    a(href="#concept") CONCEPT
  .menu_bg.sp#menu_bg
  .  
    <div class="menu sp" id="menu"><span></span></div>